extend ../../layout/index.pug
block content
        .d-flex.bd-highlight.mb-3
         h1.mr-auto.p-2.bd-highlight Total Money: #{new Intl.NumberFormat('vi-VN',{style: 'decimal',decimal: 'VND'}).format(sumMoney )} đ
         h1.p-2.bd-highlight Total Count: #{sumCount}      
        form(action="/managerCart/search" method="GET" class="d-flex")
            input(type='text' name='q' class="form-control mr-2")
            button.btn.btn-primary.mb-2 Search
        table.table.table-hover
            thead
                tr
                 th(scope='col') Email
                 th(scope='col') Name
                 th(scope='col') Phone
                 th(scope='col') Address
                 th(scope='col') Create Date
                 th(scope='col') Sum Money
                 th(scope='col') Sum Count
                 th(scope='col') Action
            tbody
                - for (let x = 0; x < boughts.length; x++)
                  tr
                   td=boughts[x].email
                   td=boughts[x].name
                   td=boughts[x].phone
                   td=boughts[x].address
                   td=boughts[x].createDate.toUTCString()
                   td=new Intl.NumberFormat('vi-VN',{style: 'decimal',decimal: 'VND'}).format(boughtsMoney[x])+ 'đ'
                   td=boughtsCount[x]
                   td.d-flex
                     a(href="/managerCart/"+boughts[x].id) View
                     span &nbsp;
                     form(action="/managerProduct/"+boughts[x].id method="POST")
                        button.btn-danger Delete
                     span &nbsp;   
        //each boughtsCount in boughtsCount
        