extend ../../layout/index.pug
block content
    h1 Customer Information
    .ml-5
        p(style="font-size: 30px") Email: 
         span(style="font-size: 25px")= bought.email
        p(style="font-size: 30px") Name: 
         span(style="font-size: 25px")= bought.name
        p(style="font-size: 30px") Address: 
         span(style="font-size: 25px")= bought.address
        p(style="font-size: 30px") Phone: 
         span(style="font-size: 25px")= bought.phone
        p(style="font-size: 30px") Create date: 
         span(style="font-size: 25px")=bought.createDate.toUTCString()
    h1 View cart
    .ml-5
        table.table.table-hover
            thead
                tr
                 th(scope='col') Avatar
                 th(scope='col') Name  
                 th(scope='col') Price                
                 th(scope='col') Count
            tbody
                each cart in bought.cart
                 tr
                  td
                   img(src=cart.img, alt="")
                  td=cart.nameProduct
                  td=new Intl.NumberFormat('vi-VN',{style: 'decimal',decimal: 'VND'}).format(cart.price)+ 'đ'
                  td=cart.count
    h4.text-right Total Count: #{sumCount}
    h4.text-right Total Money: #{new Intl.NumberFormat('vi-VN',{style: 'decimal',decimal: 'VND'}).format(sumMoney)} đ